<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% data.forEach((data) => { %> <% if (data) { %>
    <h2><%= data.username %></h2>

    <% } %> <% }); %>
  </body>
</html>
